/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'node_modules/github-markdown-css/';

html {
	font-family: sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#undefined_data {
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	font-size: 2em;
}