/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'node_modules/github-markdown-css/';

html {
	font-family: sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#undefined_data {
	position: absolute;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
	width: 100%;
}

mat-tab-body div {
	overflow: hidden !important;
}

mat-accordion {
	padding: 20px;
}

mat-expansion-panel {
	border: 1px solid #d1d5da;
	border-radius: 4px;
	margin-bottom: 20px !important;
}

mat-panel-title * {
	align-self: center;
	margin: 0.5vw;
}

mat-panel-title h2 {
	font-weight: 400;
	font-size: 24px;
}

::-webkit-scrollbar {
	width: 0.6rem;
}

::-webkit-scrollbar-thumb {
	background-color: #dddddd;
}

::-webkit-scrollbar-button{
	background-color: #eeeeee;
	max-height: 5px;
}