/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './theme.scss';

html {
	font-family: sans-serif;
}

body {
	margin: 0;
	overflow: hidden;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

::-webkit-scrollbar {
	width: 0.6rem;
}

::-webkit-scrollbar-thumb {
	background-color: #dddddd;
}

::-webkit-scrollbar-button{
	background-color: #eeeeee;
	max-height: 5px;
}

#undefined_data {
	left: calc(50% - 50px);
}

.title {
	text-align: center;
	font-size: 32px;
	margin-top: 1rem;
}

.title i {
	font-size: 0.5em;
}

.title img {
	width: 60px !important;
}

mat-accordion {
	padding: 0;
}

mat-expansion-panel {
	border: 1px solid #d1d5da;
	border-radius: 4px;
	margin-bottom: 20px !important;
}

mat-panel-title * {
	align-self: center;
}

mat-expansion-panel-header {
	height: auto !important;
}