mat-spinner ::ng-deep svg {
	background-image: url('https://wac-cdn.atlassian.com/dam/jcr:37f03d61-2cfc-4862-b536-ca6d200e7cf8/Jira%20Software-icon-blue.svg?cdnVersion=jw');
	/* background-size: contain; */
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center center;
}

.reporter {
	background-color: #d1d5da;
	color: #586069;
	display: flex;
	align-items: center;
	border-radius: 4px;
}

.reporter * {
	margin: 1vw;
}

mat-card {
	border: 1px solid #d1d5da;
	border-radius: 4px;
	margin-top: 20px;
}

mat-card-content * {
	align-self: center;
	margin: 0.5vw;
}

mat-card-content {
	display: flex;
}

mat-panel-title * {
	align-self: center;
	margin: 0.5vw;
}

mat-progress-bar {
	height: 20px;
	margin-top: 80px;
	margin-bottom: 40px;
}

.priority_img {
	flex: 1 1 auto;
}

.sprint {
	text-align: center;
}

.time {
	text-align: center;
	margin-bottom: -60px;
}
