.reporter {
	background-color: #d1d5da;
	color: #586069;
	display: flex;
	align-items: center;
}

.reporter * {
	margin: 0.5vw;
}

mat-accordion {
	padding: 20px;
}

mat-expansion-panel {
	border: 1px solid #d1d5da;
	border-radius: 4px;
	margin-bottom: 20px;
}

mat-panel-title * {
	align-self: center;
	margin: 0.5vw;
}

mat-card {
	border: 1px solid #d1d5da;
	border-radius: 4px;
	margin-top: 20px;
}

mat-card-content * {
	align-self: center;
	margin: 0.5vw;
}

mat-card-content {
	display: flex;
}

mat-progress-bar {
	height: 20px;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

.sprint {
	text-align: center;
}