<div class="popup" *ngIf="data">
	<h1 class="title" mat-dialog-title > New build !! </h1>
	<h2>
		<p> {{data.project}} </p>
		<a href="{{data.branch.url}}">
			{{data.branch.name}}
		</a>
	</h2>
	<div mat-dialog-content>
		<p> {{data.branch.time.start}}</p>
		<a href="{{data.branch.url}}">
			<img src="{{data.branch.icon}}" alt="wtf bah l'image est plus sur le repo" />
		</a>

		<ul *ngFor="let flow of data.branch.flow; let index = index">
			<li>
				{{index}} -> {{flow.name}} {{flow.result}} {{flow.state}} {{flow.duration}}ms
				<ul *ngIf="flow.child && flow.child.length">
					<li *ngFor="let subflow of flow.child; let index = index">
						{{index}} -> {{subflow.name}} {{subflow.result}} {{subflow.state}} {{subflow.duration}}ms
						<ul *ngIf="subflow.child && subflow.child.length">
							<li *ngFor="let subsubflow of subflow.child; let index = index">
								{{index}} -> {{subsubflow.name}} {{subsubflow.result}} {{subsubflow.state}} {{subsubflow.duration}}ms
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>

	</div>

	<div mat-dialog-actions>
		<button mat-button (click)="closeDialog()"> OK </button>
	</div>
</div>