<div class="popup" *ngIf="data">
	<h1 class="title" mat-dialog-title > New build !! </h1>
	<h2>
		<a href="{{data.branch_url}}">
			{{data.name}}
		</a>
	</h2>
	<div mat-dialog-content>
		<p> At {{data.time}}</p>
		<a *ngIf="data.last_build" href="{{data.last_build.url}}">
			<img src="{{data.last_build.icon}}" alt="wtf bah l'image est plus sur le repo" />
		</a>
		<p> {{data.last_build.description}} </p>
	</div>

	<div mat-dialog-actions>
		<button mat-button (click)="closeDialog()">OK</button>
	</div>
</div>