<div class="popup" *ngIf="data">
	<h1 class="title" mat-dialog-title > New build !! </h1>
	<h2>
		<p> {{data.project}} </p>
		<a href="{{data.branch.url}}"> {{data.branch.name}}	</a>
		<button mat-button (click)="mute()"> Mute </button>
	</h2>
	<div mat-dialog-content>
		<p> {{data.branch.time.start}}</p>
		<a href="{{data.branch.url}}">
			<img src="{{data.branch.icon}}" alt="img not found" />
		</a>
		<app-build-flow [flows]="data.branch.flow"></app-build-flow>
	</div>

	<div mat-dialog-actions>
		<button mat-button (click)="closeDialog()"> OK </button>
	</div>
</div>