<div *ngIf="data">

    <h1 id="repo"> {{ data.repo }} <i> {{ data.release }} </i> </h1>

    <mat-tab-group>

	<mat-tab label="Issues">
	    <mat-accordion id="issues_list">
		<mat-expansion-panel id="issue" *ngFor="let issue of data.issues">

		    <mat-expansion-panel-header>
			<mat-panel-title id="issue_name">
			    <a href="{{issue.url}}">
			  <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="wtf l'api est down">
			</a>
			    <h2> {{issue.name}} <i> #{{issue.id}} </i> </h2>
			    <ul id="label_list" *ngIf="issue.labels">
				<li [ngStyle]="{'background-color': label.color}" *ngFor="let label of issue.labels"> {{label.name}}</li>
			    </ul>
			</mat-panel-title>
		    </mat-expansion-panel-header>

		    <div id="issue_info">
			<a href="{{issue.user.url}}">
			  <img src="{{issue.user.avatar}}" alt="wtf l'api est down">
		    </a>
			<a id="username" href="{{issue.user.url}}">
			  {{issue.user.name}}
		    </a>
			<p> opened this issue {{issue.created}} </p>
		    </div>

		    <ul *ngIf="issue.assignees">
			<li id="assignee" *ngFor="let assignee of issue.assignees">
			    <p> {{assignee.login}} </p>
			    <img src="{{assignee.avatar_url}}" alt="">
			</li>
		    </ul>
		    <div id="body">
			<markdown class="markdown-body" [data]="issue.body"></markdown>
		    </div>

		</mat-expansion-panel>
	    </mat-accordion>
	</mat-tab>
	<mat-tab label="Pull Request">
	    t ou pas là mais t ou pas là
	</mat-tab>

    </mat-tab-group>
</div>
