<br>
<br>
<br>
<br>
<div *ngIf="data">
<h1 id="repo"> Project : {{ data.repo }} </h1>
<h3 id="release"> Last release : {{ data.release }} </h3>

<ul>
    <li *ngFor="let issue of data.issues">
	<p id="name"> Name : {{issue.name}} </p>
	<p id="url"> <a href="{{issue.url}}"> {{issue.url}} </a> </p>
	<div id="user">
	    <p id="username"> User : {{issue.user.name}} </p>
	    <img src="{{issue.user.avatar}}" alt="">
	</div>
	<p class="date"> Created : {{issue.created}} </p>
	<p class="date"> Updated : {{issue.updated}} </p>
	<p> Labels :</p>
	<ul>
	    <li id="label" *ngFor="let label of issue.labels">
		<p> {{label.name}} </p>
	    </li>
	</ul>
	<p> Assignees :</p>
	<ul>
	    <li id="assignee" *ngFor="let assignee of issue.assignees">
		<div>
		    <p> {{assignee.login}} </p>
		    <img src="{{assignee.avatar_url}}" alt="">
		</div>
	    </li>
	</ul>
	<p> {{issue.body}} </p>
    </li>
</ul>
<div>
