.flipbox {
    position: absolute;
    top: calc(50% - 200px);
    width: 400px;
    height: 400px;
}

.flipbox.zetapush {
    left: 15%;
}

.flipbox.client {
    left: calc(85% - 400px);
}

.flipbox.zetapush #front {
    background-color: #80cd3d;
}

.flipbox.zetapush #back {
    background-color: #1db6f1;
}

.flipbox.client #front {
    background-color: #f1452a;
}

.flipbox.client #back {
    background-color: #fbc81e;
}

.flipbox p {
    position: relative;
    top: calc(50% - 30px);
    text-align: center;
}

.flipbox #back, #front {
    backface-visibility: hidden;
    transition: all .5s cubic-bezier(0.645, .045, .355, 1);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.flipbox:hover #front {
    transform: rotateY(180deg);
}

.flipbox #back {
    transform: rotateY(-180deg);
}

.flipbox:hover #back {
    transform: rotateY(0deg);
}
