<div *ngIf="time && tmp" class="time">
	<div>
		<p fxFlex=""> Spent : <b> {{tmp.spent}} </b> </p>
		<p fxFlex=""> Remaining : <b> {{tmp.remaining}} </b> </p>
		<p fxFlex=""> Estimate : <b> {{tmp.estimate}} </b> </p>
	</div>
	<p *ngIf="tmp.late"> Late of : <b> {{tmp.late}} </b> </p>
	<p *ngIf="tmp.early"> Early of : <b> {{tmp.early}} </b> </p>
</div>
<mat-progress-bar *ngIf="tmp && tmp.progress_bar" mode="buffer" [value]="tmp.progress_bar.value" [bufferValue]="tmp.progress_bar.bufferValue"> </mat-progress-bar>
<div *ngIf="time && tmp">
	<div *ngFor="let detail of tmp.details"> {{detail.name}}
		<a> {{detail.spent}}
		</a>
		<img src="{{detail.url}}" alt="img not found">
		<a> {{detail.estimate}}
		</a>
		<img src="{{detail.url}}" alt="img not found">
	</div>
</div>