<div *ngIf="time && tmp" class="time">
	<div>
		<p fxFlex=""> Spent : <b> {{tmp.spent}} </b> </p>
		<p fxFlex=""> Remaining : <b> {{tmp.remaining}} </b> </p>
		<p fxFlex=""> Estimate : <b> {{tmp.estimate}} </b> </p>
	</div>
	<p *ngIf="tmp.late"> Late of : <b> {{tmp.late}} </b> </p>
	<p *ngIf="tmp.early"> Early of : <b> {{tmp.early}} </b> </p>
</div>
<mat-progress-bar *ngIf="tmp && tmp.progress_bar" mode="buffer" [value]="tmp.progress_bar.value" [bufferValue]="tmp.progress_bar.bufferValue"> </mat-progress-bar>
