header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
}

header::after {
    background: linear-gradient(0.25turn, #80cd3d, #1db6f1, #f1452a, #fbc81e);
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px;
    height: 4px;
}

.home_button img {
    padding: 5px 0 0 5px;
}

.user_avatar {
    position: fixed;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px 10px 0 0
}

.user_avatar img {
    border-radius: 50%;
}

.search_bar {
    position: fixed;
    top: 6px;
    left: calc(50% - 195px);
    width: 390px;
}

.search_bar input {
    width: 100%;
    height: 34px;
    border: 1px solid #CFD7E6;
    border-radius: 4px;
    padding-left: 20px;
}

.flipbox {
    position: absolute;
    top: calc(50% - 200px);
    width: 400px;
    height: 400px;
}

.flipbox.zetapush {
    left: 15%;
}

.flipbox.client {
    left: calc(85% - 400px);
}

.flipbox.zetapush #front {
    background-color: #80cd3d;
}

.flipbox.zetapush #back {
    background-color: #1db6f1;
}

.flipbox.client #front {
    background-color: #f1452a;
}

.flipbox.client #back {
    background-color: #fbc81e;
}

.flipbox p {
    position: relative;
    top: calc(50% - 30px);
    text-align: center;
}

.flipbox #back, #front {
    backface-visibility: hidden;
    transition: all .5s cubic-bezier(0.645, .045, .355, 1);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.flipbox:hover #front {
    transform: rotateY(180deg);
}

.flipbox #back {
    transform: rotateY(-180deg);
}

.flipbox:hover #back {
    transform: rotateY(0deg);
}
