<mat-spinner id="undefined_data" *ngIf="!data || !data.length"> </mat-spinner>
<mat-tab-group *ngIf="data && data.length">
	<mat-tab *ngFor="let app of data" label="{{app.name}}">
		<div class="title">
				<div>
					<img src="https://raw.githubusercontent.com/jenkinsci/jenkins/master/war/src/main/webapp/images/jenkins-redbg.png" alt="img not found" />
				</div>
				<a href="{{app.url}}"> {{app.name}} </a>
		</div>

		<div>
			<mat-card fxFlex="50%">
				<mat-card-title style="text-align: center"> Branches </mat-card-title>
					<mat-accordion>
					<mat-expansion-panel *ngFor="let branch of app.branches">

						<mat-expansion-panel-header>
							<mat-panel-title fxLayout="row wrap">
								<a href="{{branch.url}}">
									<img src="{{branch.icon}}" alt="img not found" />
								</a>
								<i> {{branch.result}} </i>
								<h4> {{branch.name}} </h4>
								<span style="flex: 1 1 auto;"> </span>
								<p *ngIf="!branch.in_progress"> {{branch.time.duration}} - {{branch.time.end}}</p>
							</mat-panel-title>
						</mat-expansion-panel-header>

						<p> {{branch.flow}} </p>
						<!-- <div *ngFor="let flow of branch.flow; let index = index">
							<p> {{index}} -> {{flow.name}} {{flow.result}} {{flow.state}} {{flow.duration}}ms </p>
						</div> -->
						<a href="{{branch.github_url}}"> {{branch.github_url}} </a>

					</mat-expansion-panel>
				</mat-accordion>
			</mat-card>

			<mat-card fxFlex="50%">
				<mat-card-title style="text-align: center"> Pull Request </mat-card-title>
				<mat-accordion>
					<mat-expansion-panel *ngFor="let branch of app.pull_request">

						<mat-expansion-panel-header>
								<mat-panel-title fxLayout="row wrap">
									<a href="{{branch.url}}">
										<img src="{{branch.icon}}" alt="img not found" />
									</a>
									<i> {{branch.result}} </i>
									<h4> {{branch.name}} : {{branch.pull_request.title}}</h4>
									<span style="flex: 1 1 auto;"> </span>
									<p *ngIf="!branch.in_progress"> {{branch.time.duration}} - {{branch.time.end}}</p>
								</mat-panel-title>
							</mat-expansion-panel-header>

							<p> {{branch.pull_request.author}} </p>
							<p> {{branch.flow}} </p>
							<!-- <div *ngFor="let flow of branch.flow; let index = index">
								<p> {{index}} -> {{flow.name}} {{flow.result}} {{flow.state}} {{flow.duration}}ms </p>
							</div> -->
							<a href="{{branch.github_url}}"> {{branch.github_url}} </a>

					</mat-expansion-panel>
				</mat-accordion>
			</mat-card>
		</div>

	</mat-tab>
</mat-tab-group>