<div *ngIf="data">
	<div class="title">
		<div>
			<img src="https://raw.githubusercontent.com/jenkinsci/jenkins/master/war/src/main/webapp/images/jenkins-redbg.png" alt="img not found" />
		</div>
		<a href="{{data.url}}"> {{data.name}} </a>
	</div>

	<mat-accordion>
		<div class="mute_button">
			<button mat-icon-button (click)="openDialog()">
				<mat-icon [matBadgeHidden]="popup_buffer.length <= 0" [matBadge]="popup_buffer.length"> notifications </mat-icon>
			</button>
		</div>
		<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
			(page)="paginator_branches($event)">
		</mat-paginator>
		<mat-expansion-panel *ngFor="let branch of data.branches">

			<mat-expansion-panel-header>
				<mat-panel-title fxLayout="row wrap">
					<a href="{{branch.url}}">
						<img src="{{branch.icon}}" alt="img not found" />
					</a>
					<i> {{branch.result}} </i>
					<h4> {{branch.name}} </h4>
					<span style="flex: 1 1 auto;"> </span>
					<p *ngIf="!branch.in_progress"> {{branch.time.duration}} - {{branch.time.end}}</p>
				</mat-panel-title>
			</mat-expansion-panel-header>
			<app-build-flow [flows]="branch.flow"></app-build-flow>
			<a href="{{branch.github_url}}"> {{branch.github_url}} </a>

		</mat-expansion-panel>
	</mat-accordion>
</div>