<div class="popup" *ngIf="data">
	<h1 class="title" mat-dialog-title > {{data.message}} </h1>

	<div mat-dialog-content>
		<h2 class="title"> {{data.repo_name}} </h2>
		<h2> {{data.name}} <i> #{{data.id}} </i> </h2>
		<div class="item_info">
			<p> Created by </p>
			<a class="username" href="{{data.user.url}}">
				{{data.user.name}}
			</a>
			<a href="{{data.user.url}}">
				<img src="{{data.user.avatar}}" alt="img not found">
			</a>
		</div>
	</div>
	<div mat-dialog-actions>
		<button mat-button (click)="dialogRef.close()" cdkFocusInitial> OK </button>
	</div>
</div>