@import '~src/variables.scss';

button.refresh_all {
	margin: 20px 10px;
	padding: 20px 10px;
	width: calc(100% - 20px);
	background: $primary !important;
}

.touch {
	cursor: pointer;
	margin-right: 20px;
}

.timestamp {
	position: absolute;
	bottom: 0;
	right: 0;
}

mat-card {
	margin: 8px;
	min-height: 300px;
}

mat-card-header {
	margin: -16px -16px 0px -16px !important;
	color: white;
	padding: 1rem 0 !important;
	background: $primary !important;
}

mat-card-content {
	margin: 0 -16px !important;
}

mat-table {
	width: 100% !important;
}

mat-table mat-cell, mat-header-cell {
	justify-content: center;
	text-align: center;
	padding: 0 !important;
	position: relative;
}

mat-table mat-header-cell {
	color: #29A8D6;
}