<table>
	<thead>
		<tr>
		<th class="zm">
			Machine description<th class="zu">URL<th class="z">Web<th class="z">ZBO<th class="z">STR<th class="z">ES<th class="z">HB<th class="zv" (click)="refreshStatus();">Version<th>Admin UI
		</tr>
		</thead>
	<tbody>
		<tr>
			<td> Development platform (Pablo)<td>pinte-silver-2<td class="zf"><td class="zt"><td class="zt"><td class="zt"><td class="zt"><td><td>
		</tr>
		<tr>
			<td> Dev ZBO<td><a href="http://pinte-silver-2:8080/zbo/">pinte-silver-2</a><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td class="zf"><td zeta-status class="zv"><td zeta-admin>
			</tr>
		<tr>
			<td> Dev STR<td><a href="http://pinte-silver-2:8080/str/">pinte-silver-2</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
	</tbody>
	<tbody>
		<tr>
			<td> Dev2 STR 1<td><a href="http://vm-str-dev-1:8080/str/">vm-str-dev-1</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
		<tr>
			<td> Dev2 STR 2<td><a href="http://vm-str-dev-2:8080/str/">vm-str-dev-2</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
		<tr>
			<td> Dev2 STR 3<td><a href="http://vm-str-dev-3:8080/str/">vm-str-dev-3</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
	</tbody>
	<tbody>
		<tr>
			<td> vm-0<td><a href="http://pinte-silver-2-vm-0:8080/str/">vm-0</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
	</tbody>
	<tbody>
		<tr>
			<td> Pre-prod ZBO<td><a href="http://vm-zbo:8080/zbo/">vm-zbo</a><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td class="zf"><td zeta-status class="zv"><td zeta-admin></tr>
		<tr>
			<td> Pre-prod STR 1<td><a href="http://vm-str-1:8080/str/">vm-str-1</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
		<tr>
			<td> Pre-prod STR 2<td><a href="http://vm-str-2:8080/str/">vm-str-2</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
		<tr>
			<td> Pre-prod thumbs pinte<td><a href="http://pinte-silver-1:10010/">pinte-silver-1</a><td class="zf"><td class="zf"><td class="zf"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
		<tr>
			<td> Pre-prod docker builder<td><a href="http://163.172.157.96:10010/">docker-builder-1</a><td class="zf"><td class="zf"><td class="zf"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
		<tr>
			<td> Pre-prod thumbs str-1<td><a href="http://vm-str-1:10010/">vm-str-1</a><td class="zf"><td class="zf"><td class="zf"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
		<tr>
			<td> Pre-prod Admin<td><a href="http://preprodzbo.zpush.ovh">preprodzbo.zpush.ovh</a><td class="zt"><td class="zf"><td class="zf"><td class="zf"><td class="zf"><td><td></tr>
		<tr>
			<td> Pre-prod ES<td><a href="http://pinte-silver-3:9200/">pinte-silver-3</a><td class="zf"><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td><td><a href="http://pinte-silver-3:9200/_plugin/head/" target="_blank">Open</a></td></tr>
	</tbody>
	<tbody>
		<tr>
			<td> HQ ZBO<td><a href="http://hq.zpush.io:9080/zbo/">vm-zbo</a><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td class="zf"><td zeta-status class="zv"><td zeta-admin></tr>
		<tr>
			<td> HQ STR 1<td><a href="http://hq.zpush.io:9081/str/">vm-str-1</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
		<tr>
			<td> HQ STR 2<td><a href="http://hq.zpush.io:9082/str/">vm-str-2</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
	</tbody>
	<tbody>
		<tr>
			<td> Prod ZBO<td><a href="http://zbo.zpush.io/zbo/">zbo.zpush.io</a><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td class="zf"><td zeta-status class="zv"><td zeta-admin></tr>
		<tr>
			<td> Prod Free STR 1<td><a href="http://free-1.zpush.io/str/">free-1.zpush.io</a><td class="zf"><td class="zf"><td class="zt"><td class="zt"><td class="zt"><td zeta-status class="zv"><td></tr>
		<tr>
			<td> Prod Cluster 1 STR 1<td><a href="http://cluster-1-str-1.zpush.io/str/">cluster-1-str-1.zpush.io</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
		<tr>
			<td> Prod Cluster 1 STR 2<td><a href="http://cluster-1-str-2.zpush.io/str/">cluster-1-str-2.zpush.io</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
		<tr>
			<td> Prod Admin<td><a href="http://admin.zpush.io">admin.zpush.io</a><td class="zt"><td class="zf"><td class="zf"><td class="zf"><td class="zf"><td><td></tr>
	</tbody>
	<tbody>
		<tr>
			<td> Celtia alpha ZBO<td><a href="http://celtia.zetapush.com/zbo/">celtia.zetapush.com</a><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td class="zf"><td zeta-status class="zv"><td zeta-admin></tr>
		<tr>
			<td> Celtia alpha STR<td><a href="http://celtia.zetapush.com/str/">celtia.zetapush.com</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
	</tbody>
	<tbody>
		<tr>
			<td> Demo platform 1 (OVH)<td>demo-1.zpush.io<td class="zf"><td class="zt"><td class="zt"><td class="zt"><td class="zt"><td><td></tr>
		<tr>
			<td> Demo platform ZBO<td><a href="http://demo-1.zpush.io/zbo/">demo-1.zpush.io</a><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td class="zf"><td zeta-status class="zv"><td zeta-admin></tr>
		<tr>
			<td> Demo platform STR<td><a href="http://demo-1.zpush.io/str/">demo-1.zpush.io</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
	</tbody>
	<tbody>
		<tr>
			<td> Biosency Demo platform (online)<td>biosency-demo-backend.zpush.io<td class="zf"><td class="zt"><td class="zt"><td class="zt"><td class="zt"><td><td></tr>
		<tr>
			<td> Biosency Demo platform ZBO<td><a href="http://biosency-demo-backend.zpush.io/zbo/">biosency-demo-backend.zpush.io</a><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td class="zf"><td zeta-status class="zv"><td zeta-admin></tr>
		<tr>
			<td> Biosency Demo platform STR<td><a href="http://biosency-demo-backend.zpush.io/str/">biosency-demo-backend.zpush.io</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
	</tbody>
	<!-- <tbody>
		<tr>
			<td> Demo platform 2 (kimsufi)<td>demo-2.zpush.io<td class="zf"><td class="zt"><td class="zt"><td class="zt"><td class="zt"><td><td></tr>
		<tr>
			<td> Demo platform ZBO<td><a href="http://demo-2.zpush.io/zbo/">demo-2.zpush.io</a><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td class="zf"><td zeta-status class="zv"><td zeta-admin></tr>
		<tr>
			<td> Demo platform STR<td><a href="http://demo-2.zpush.io/str/">demo-2.zpush.io</a><td class="zf"><td class="zf"><td class="zt"><td class="zf"><td class="zf"><td zeta-status class="zv"><td></tr>
	</tbody> -->
</table>
