<button class="refresh_all" mat-flat-button color="primary" (click)="refreshStatus();">
	<mat-icon> refresh </mat-icon>
	REFRESH
</button>

<div fxLayout="row wrap">
	<mat-card fxFlex="calc(50% - 16px)" fxFlex.gt-sm="calc(40% - 16px)" fxFlex.gt-md="calc(30% - 16px)" fxFlex.gt-lg="calc(20% - 16px)" *ngFor="let machine of machines">
		<mat-card-header (click)="refreshStatus(machine.env);">
			{{machine.env}}
			<span style="flex: 1 1 auto"></span>
			<mat-icon class="touch"> refresh </mat-icon>
		</mat-card-header>
		<mat-card-content>
			<mat-table [dataSource]="machine.list">

				<mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

				<ng-container cdkColumnDef="name">
					<mat-header-cell *cdkHeaderCellDef> Machine description </mat-header-cell>
					<mat-cell matTooltip="{{element.url}}" *cdkCellDef="let element">
						<a target="_blank" href="{{element.url}}"> {{element.name}} </a>
					</mat-cell>
				</ng-container>

				<ng-container cdkColumnDef="status">
					<mat-header-cell *cdkHeaderCellDef> Status </mat-header-cell>
					<mat-cell *cdkCellDef="let element" [ngStyle]="{'background-color': element.color}">
						<h3> {{element.status}} </h3>
						<i class="timestamp" *ngIf="element.status && element.timestamp < 100000000"> {{element.timestamp}}ms </i>
					</mat-cell>
				</ng-container>

				<ng-container cdkColumnDef="version">
					<mat-header-cell *cdkHeaderCellDef> Version </mat-header-cell>
					<mat-cell *cdkCellDef="let element">
						{{element.version}}
					</mat-cell>
				</ng-container>

			</mat-table>
		</mat-card-content>
	</mat-card>
</div>