<button mat-button (click)="refreshStatus();" > Refresh status </button>

<mat-grid-list cols="{{machines.length / 2}}" rowHeight="4:3">
	<mat-grid-tile *ngFor="let machine of machines">
		<mat-grid-tile-header>
			<p> {{machine.env}} </p>
		</mat-grid-tile-header>
		<ul class="machine_list">
			<li *ngFor="let submachine of machine.list" [ngStyle]="{'background-color': submachine.color}">
				<span *ngIf="submachine.status !== 200"> {{submachine.status}} </span>
				<a href="{{submachine.url}}" target="_blank"> {{submachine.name}} </a>
			</li>
		</ul>
	</mat-grid-tile>
</mat-grid-list>