/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'node_modules/github-markdown-css/';

* {
    font-family: sans-serif;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

router-outlet + * {
    display: block;
    height: calc(100% - 50px);
    overflow: auto;
    margin-top: 50px;
}
