mat-tab-group {
	padding: 0 1rem;
	min-height: 100%;
}

mat-tab-group ::ng-deep .mat-tab-body-wrapper {
	flex: 1;
}

.link {
	margin-right: 10px;
}

.tabs > ::ng-deep mat-tab-header .mat-tab-labels {
	margin: 0 auto;
	max-width: 800px;
}