mat-spinner ::ng-deep svg {
	background-image: url('https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png');
	background-size: contain;
}

mat-spinner {
	position: absolute;
	top: 15%;
}

mat-panel-title h4 i {
	color: #a3aab1;
}

button mat-icon ::ng-deep .mat-badge-content {
	animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2)
	}
}

.form {
	text-align: center;
}

.form mat-form-field, button {
	margin-right: 1rem;
}

.label_list li {
	padding: 5px;
	margin-left: 10px;
	font-weight: 600;
	border-radius: 4px;
	max-height: 18px;
}

.item_info {
	background-color: #d1d5da;
	color: #586069;
	display: flex;
	align-items: center;
}

.item_info * {
	margin: 0.5vw;
}

.item_info .username {
	color: #586069;
	font-weight: 600;
}

.item_info li {
	display: contents;
}

.body {
	padding: 15px;
}

img {
	width: 40px;
}

.commit-ref {
	position: relative;
	display: inline-block;
	padding: 0 5px;
	font: 0.75em/2 "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	color: #274466;
	white-space: nowrap;
	background-color: #eff7ff;
	border-radius: 3px;
}

.jenkins_build {
	border: solid;
	border-radius: 4px;
}

.jenkins_build b {
	text-align: center;
	font-size: 1em;
}

.mute_button {
	text-align: center;
}