mat-spinner ::ng-deep svg {
	background-image: url('https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png');
	background-size: contain;
}

mat-spinner {
	position: absolute;
	top: 15%;
}
