<div id="undefined_data" *ngIf="!data">
    mdr bah alors l'api, on se sent pas bien ?
</div>
<mat-tab-group *ngIf="data"	[selectedIndex]="repo_index.value"
							(selectedIndexChange)="repo_index.setValue($event)">

	<mat-tab *ngFor="let repo of data" [label]="repo.repo">

		<h1 id="repo"> {{ repo.repo }} <i> {{ repo.tag }} </i> </h1>

		<mat-form-field *ngFor="let form of filter_form[repo_index.value]; let index = index">
			<mat-select (selectionChange)="filter_data_by(
										repo_index.value,
										filter_form[repo_index.value])"
						[(value)]="form.selected" [placeholder]="form.placeholder">
				<mat-option> None </mat-option>
				<mat-option *ngFor="let option of form.available_list" [value]="option"> {{option}}	</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-tab-group>
			<mat-tab label="Issues">
				<mat-accordion>
					<mat-expansion-panel *ngFor="let issue of repo.issues">

						<mat-expansion-panel-header>
							<mat-panel-title>
								<a href="{{issue.url}}">
									<img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="wtf l'api est down">
								</a>
								<h2> {{issue.name}} <i> #{{issue.id}} </i> </h2>
								<ul class="label_list" *ngIf="issue.labels">
									<li [ngStyle]="{'background-color': label.color}" *ngFor="let label of issue.labels"> {{label.name}}</li>
								</ul>
							</mat-panel-title>
						</mat-expansion-panel-header>

						<div *ngIf="issue.user" class="item_info">
							<a href="{{issue.user.url}}">
								<img src="{{issue.user.avatar}}" alt="wtf l'api est down">
							</a>
							<a class="username" href="{{issue.user.url}}">
								{{issue.user.name}}
							</a>
							<p> opened this issue {{issue.created}} </p>
						</div>

						<ul class="item_info" *ngIf="issue.assignees && issue.assignees.length">
							Assignees :
							<li *ngFor="let assignee of issue.assignees">
								<p class="username"> {{assignee.login}} </p>
								<img src="{{assignee.avatar_url}}" alt="">
							</li>
						</ul>
						<div class="body">
							<markdown class="markdown-body" [data]="issue.body"></markdown>
						</div>

					</mat-expansion-panel>
				</mat-accordion>
			</mat-tab>

			<mat-tab label="Pull Request">
				<mat-accordion>
					<mat-expansion-panel *ngFor="let pull_request of repo.pull_request">

						<mat-expansion-panel-header>
							<mat-panel-title>
								<a href="{{pull_request.url}}">
									<img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="wtf l'api est down">
								</a>
								<h2> {{pull_request.name}} <i> #{{pull_request.id}} </i> </h2>
								<ul class="label_list" *ngIf="pull_request.labels">
									<li [ngStyle]="{'background-color': label.color}" *ngFor="let label of pull_request.labels"> {{label.name}}</li>
								</ul>
							</mat-panel-title>
						</mat-expansion-panel-header>

						<div *ngIf="pull_request.user" class="item_info">
							<a href="{{pull_request.user.url}}">
								<img src="{{pull_request.user.avatar}}" alt="wtf l'api est down">
							</a>
							<a class="username" href="{{pull_request.user.url}}">
								{{pull_request.user.name}}
							</a>
							<p> wants to merge {{pull_request.commits}} into <span class="commit-ref">{{pull_request.base}} </span> from <span class="commit-ref"> {{pull_request.head}} </span> at {{pull_request.created}} </p>
						</div>

						<ul class="item_info" *ngIf="pull_request.assignees && pull_request.assignees.length">
							Reviewers :
							<li class="username" *ngFor="let reviewer of pull_request.assignees">
								<p> {{reviewer.login}} </p>
								<img src="{{reviewer.avatar_url}}" alt="wtf l'api est down">
							</li>
						</ul>
						<div class="body">
							<markdown class="markdown-body" [data]="pull_request.body"></markdown>
						</div>

					</mat-expansion-panel>
				</mat-accordion>
			</mat-tab>
		</mat-tab-group>

	</mat-tab>
</mat-tab-group>